<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<!-- FOR MORE INFO: 
	https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?branch=release-16.4&view=vs-2019#example-runsettings-file 
	https://github.com/microsoft/vstest-docs/blob/master/docs/configure.md
	-->

	<MaxCpuCount>2</MaxCpuCount>
	<ResultsDirectory>.\TestResults</ResultsDirectory>	
	<TestSessionTimeout>10000</TestSessionTimeout>
	<TreatNoTestsAsError>true</TreatNoTestsAsError>
	
	<!-- Configurations for data collectors -->
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage" 
						   uri="datacollector://Microsoft/CodeCoverage/2.0" >
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Exclude>
								<ModulePath>.*CPPUnitTestFramework.*</ModulePath>
							</Exclude>
						</ModulePaths>

						<!-- We recommend you do not change the following values: -->
						<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
						<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
						<CollectFromChildProcesses>True</CollectFromChildProcesses>
						<CollectAspDotNet>False</CollectAspDotNet>

					</CodeCoverage>
				</Configuration>
			</DataCollector>

			<DataCollector friendlyName="Screen and Voice Recorder"
						   uri="datacollector://microsoft/VideoRecorder/1.0" 
						   assemblyQualifiedName="Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder.VideoRecorderDataCollector, Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
				<!--Video data collector was introduced in Visual Studio 2017 version 15.5 -->
				<Configuration>
					<!-- Set "sendRecordedMediaForPassedTestCase" to "false" to add video attachments to failed tests only -->
					<MediaRecorder sendRecordedMediaForPassedTestCase="true"  xmlns="">						​
						<ScreenCaptureVideo bitRate="512" frameRate="2" quality="50" />​
					</MediaRecorder>​
				</Configuration>
			</DataCollector>

			<!-- Configuration for blame data collector: 
				This option can help you isolate a problematic test that causes a test host crash. 
				Running the collector creates an output file (Sequence.xml) in TestResults, which 
				captures the order of execution of the test before the crash.			
			-->
			<DataCollector friendlyName="blame" enabled="True">
			</DataCollector>

		</DataCollectors>
	</DataCollectionRunSettings>

	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="webAppUrl" value="http://localhost" />
		<Parameter name="webAppUserName" value="Admin" />
		<Parameter name="webAppPassword" value="Password" />
	</TestRunParameters>

	<!-- Configuration for loggers -->
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>quiet</Verbosity>
				</Configuration>
			</Logger>
		</Loggers>
	</LoggerRunSettings>

</RunSettings>